
*{
    background-color: black;
  }
  
  
#photo{
    color: white;
    text-align: center;
    width: 100px;
    border: 5px white;
  }

#kobe{
  border: 5px solid;;
  width: 850px;
  height: 520px;
  border-color: white;
  margin-top: 180px;
  margin-left: 1300px;

}
h1{
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

p{
  color: white;
  text-align: center;
} 

  
  